*~
www/*/include
www/*/stylesheet
www/*/python
www/*/*/include
www/*/*/stylesheet
www/*/*/python
www/*/*/*/include
www/*/*/*/stylesheet
www/*/*/*/python
www/homepages/homology.shtml
*/include
*/python
__pycache__
Configuration
.Configuration.tab
webshare.rcd
