body { 
    margin: 0px;
    font-family:Verdana,Arial,Helvetica;
	font-size:12px;
	color:#000000;
	padding:0px;
}

.homeTagline	{
	text-align:center;
	color:#002255; 
	font-size:13px; 
	font-style:italic; 
	font-weight:bold; 
	line-height:1.2; 
	margin-left:15px; 
	margin-right:15px; 
	margin-top:3px; 
	margin-bottom:5px;
}

.homeTitleBar {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#002255;
	font-weight:bold;
	margin: 4px 1px;
	padding:1px 0px 4px 0px;
	width:100%;
	margin-left:0px; 
	margin-right:0px;
	border-color:#DFDFDF;
	border-style:solid;
	border-width:2px;
	background-color:#F2F2F2;
}

.grayBG {background-color:#F9F9F9;}

.boxHead {
    color: #002255;
    font-weight: bold; 
    height:14px; 
    background-color:#D0E0F0; 
    text-align:left;
    font-size:12px;
} 

.smaller {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:smaller;font-size:85%; font-size:10px;}

.imageHeader	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#002255;
	font-weight:bold;
	margin:1px 2px;
	vertical-align:text-bottom;
}

a.homePageBody:link {		
color: #1433c8;
text-decoration: none;
border-bottom-width: 1px;
border-bottom-style: dashed;
border-bottom-color: #000000;
padding-top: 0.1em;
padding-right: 2px;
padding-bottom: 0.1em;
padding-left: 2px;}

a.homePageBody:visited {
color: #333333;
text-decoration: none;
border-bottom-width: 0.5px;
border-bottom-style: dashed;
border-bottom-color: #333333;
padding-top: 0.1em;
padding-right: 2px;
padding-bottom: 0em;
padding-left: 2px;}

a.homePageBody:hover {
color: #cc0000;
text-decoration: none;
border-bottom-width: 1px;
border-bottom-style: dashed;
border-bottom-color: #cc0000;
padding-top: 0.1em;
padding-right: 2px;
padding-bottom: 0.1em;
padding-left: 2px;}

a.homePageBody:active {
    color:#1433C8;
	text-decoration:none;
	border-bottom:da	shed 1px #000000;
	padding: 0.1em 2px;}

dd.howDoI {
	color:#000000;
	text-decoration: none; 
	font-family: Verdana, Arial, Helvetica, sans-serif;} 


dl.howDoI {line-height:1.2;}

p {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
}