/* Defaults */
body {
background-color: #ffffff;
color: #000000;
font-family: Verdana, Arial, Helvetica, Sans-Serif;
font-size:12px;
}
td {
font-family: Verdana, Arial, Helvetica, Sans-Serif;
font-size:12px;
}

