<style type="text/css">
<!--
body {background:white;font-family:arial,helvetica;}
h1 {font-family:arial,helvetica; font-size:14pt; color:black;font-weight: bold}
h2 {font-family:arial,helvetica; font-size:12pt; color:black;font-weight: bold}
h3 {font-family:arial,helvetica; font-size:10pt; color:black; font-weight: bold}
h4 {font-family:arial,helvetica; font-size:10pt; color:black; font-weight:bold; font-style: italic}
p {font-family:Times New Roman, Times, Serif; font-size:10pt}
li {font-family:Times New Roman, Times, Serif; font-size:10pt; list-style-type: disc;}
A:link {font-family:arial,helvetica;font-size:10pt;color:#0000FF;text-decoration:underline}
A:visited {font-family:arial,helvetica;font-size:10pt;color:##4682B4;text-decoration:underline}
blockquote {margin: 0px 20px 0px 20px }

table.main {width:100%}
.linkHeader {color:black;  font-size:9pt; font-style: italic;}
.textHeader {color:black;  font-size:10pt; font-style: normal;}
.mainHeader {text-align:center;background:#4682B4;width:100%;text-transform:capitalize;font-size:14pt}
.subHeader {text-align:left;font-size:12pt;font-style:bold}
-->
</style>
