<STYLE TYPE="text/css">
body
{
background:white;
}

h1 {
font-size:1.5em;
}
h2 {
font-size:1.4em;
}
h3 {
font-size:1.3em;
}
h4 {
font-size:1.2em;
}

p, table, li, dt, dd
{
margin-left: 10pt;
}
ul
{
list-style: disc; 
}
ol
{
list-style: decimal; 
}
p,li,th,td
{
font-size: 1.0em;
}
a:link    {color:mediumblue}
a:visited {color:purple}
a:active  {color:mediumblue}


table.main {width:100%}

.linkHeader {color:black;font-style:italic}

.mainHeader {text-align:center;background:#d0e0f0;width:100%;text-transform:capitalize;font-size:20pt}

.subHeader {text-align:left;font-size:15pt;font-style:bold}


</style>